# Folders to ignore
.idea
build
vendor
release
node_modules
gutenverse-themes-builder/assets/js/*
gutenverse-themes-builder/assets/css/*
gutenverse-themes-builder/block
gutenverse-themes-builder/lib/dependencies

# Files to ignore
package-lock.json
gutenverse-themes-builder.pot