.guten-background-effect {
    position: absolute !important;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 100% !important;
    margin: auto;

    .inner-background-container { 
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .child-effect { 
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

