.gutenverse-control-wrapper {
    &.gutenverse-control- {
        &transform-origin {
            .transform-box {
                width: 140px;
                height: 120px;
                margin: 0 auto;
                border-radius: 3px;
                border: 1px solid #E3E4E6;
                background: #FFF;
                position: relative;

                .transform-dot {
                    cursor: pointer;
                    width: 22px;
                    height: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;

                    &.top {
                        top: 10px;
                    }

                    &.middle {
                        top: calc(50% - 10px);
                    }

                    &.bottom {
                        bottom: 10px;
                    }

                    &.left {
                        left: 10px;
                    }

                    &.center {
                        left: calc(50% - 10px);
                    }

                    &.right {
                        right: 10px;
                    }
                }
            }
        }

        &adanim-repeater {
            position: relative;

            .repeater-header {
                align-items: center;
                background-color: #e7ecfd;

                .control-title {
                    display: none;
                }
            }

            .repeater-item,
            .repeater-title {
                overflow: visible;
            }

            .repeater-remove {
                width: 20px;
                height: 20px;
                margin: 0;
                margin-left: 10px;

                svg {
                    stroke: #5e81f4;
                }
            }

            .repeater-expand {
                margin-right: 10px;
            }

            .control-add {
                position: absolute;
                top: 8px;
                right: 0;

                button {
                    padding: 0px 8px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    color: #1c1d21;
                    background: #f5f7fe;
                    border: 1px solid #dddddd;
                    border-radius: 2px;
                    height: 26px;

                    &:hover,
                    &:focus {
                        color: #1c1d21;
                        background: #f5f7fe;
                        border: 1px solid #dddddd;
                        outline: 0;
                        box-shadow: none;
                    }

                    svg {
                        width: 10px;
                        height: 10px;
                        padding: 2px;
                        margin-right: 4px;
                        color: #ffffff;
                        background-color: #5e81f4;
                        border-radius: 50%;
                    }
                }
            }

            .gutenverse-control-select {
                margin: 0;

                .control-body {
                    margin: 0;
                }
            }

            .gutenverse-control-hover {
                margin: 20px 0 10px 0;
            }
        }

        &adanim-composite {
            position: relative;

            .composite-header {
                align-items: center;
                background-color: #e7ecfd;

                .control-title {
                    display: none;
                }
            }

            .composite-item,
            .composite-title {
                overflow: visible;
            }

            .gutenverse-control-select {
                margin: 0;

                .control-body {
                    margin: 0;
                }
            }

            .gutenverse-control-hover {
                margin: 20px 0 10px 0;
            }
        }

        &text-clip-buttons,
        &adanim-buttons {
            .control-body {
                display: flex;
                gap: 10px;

                button {
                    width: 100%;
                    border: 1px solid #e6e6ef;
                    padding: 8px;
                    justify-content: center;
                    background-color: transparent;
                    border-radius: 2px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    color: #1c1d21;
                    outline: none;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }

                    &.checked {
                        background-color: #e7ecfd;
                        border-color: #e7ecfd;
                        color: #5e81f4;
                    }
                }
            }
        }

        &adanim-breakpoints {
            .control-body {
                position: relative;
                padding: 15px 11px;
                background-color: #f9f9ff;
            }

            .devices {
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .device,
                .separator {
                    display: flex;
                    align-items: center;
                    margin: 0;
                }

                .device {
                    cursor: pointer;

                    &.active {

                        svg,
                        span {
                            color: #5e81f4;
                        }
                    }

                    svg {
                        margin-right: 5px;
                    }
                }

                svg,
                span {
                    color: #8181a5;
                }

                svg {
                    width: 12px;
                    height: 12px;
                }

                span {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                }
            }
        }
    }
}

.gutenverse-control-transform {
    .control-locked {
        cursor: pointer;
        background: #FFDBDE;
        border: 0.3px solid #C1313F;
        border-radius: 2px;
        color: #C1313F;
        padding: 4px 5px;
        border-radius: 3px;
        margin: 0;
        margin-left: 6px;
        display: flex;
        justify-content: center;
        align-items: center;

        .label {
          display: flex;
          align-items: center;
          align-content: center;
          gap: 2px;
          margin: 0;
          font-size: 8px;
        }

        &-hover {
          display: none;
        }
      }
    .accordion-item {
        border: 1px solid #e3e4e6;
        border-radius: 4px;
        display: block;
        margin: 0 0 10px;

        .accordion-header {
            align-items: center;
            background-color: #fff;
            display: flex;
            padding: 7px 14px;
            gap: 10px;

            .chevron svg {
                cursor: pointer;
                transform: rotate(-90deg);
            }

            h2 {
                cursor: pointer;
                margin: 0;
                width: 100%;
                border-radius: 5px;
                font-size: 13px;
                font-weight: normal;
                padding: 4px;
            }

            .clear {
                cursor: pointer;
                background-color: #fff;
                border: 1px solid #e3e4e6;
                border-radius: 4px;
                display: flex;
                padding: 4px;
            }
        }

        &.opened {
            .accordion-header {
                background-color: #e7ecfd;

                svg {
                    transform: rotate(0);
                }
            }
        }

        .accordion-body {
            background: #fff;
            padding: 5px 15px 10px;
        }
    }
}