@import "@wordpress/components/build-style/style";
@import "@wordpress/block-editor/build-style/style";
@import "@wordpress/block-library/build-style/style";
@import "@wordpress/block-library/build-style/editor";
@import "@wordpress/block-library/build-style/theme";
@import "@wordpress/format-library/build-style/style";

body {
    --gtb-white: #ffffff;
    --gtb-black: #000000;
    --gtb-dark: #011627;
    --gtb-dark-grey: #40505D;
    --gtb-grey: #99A2A9;
    --gtb-grey-soft: #E3E4E6;
    --gtb-light: #F8FBFF;
    --gtb-blue: #3B57F7;
    --gtb-dark-blue: #2435ec;
    --gtb-blue-soft: #DBE7FF;
    --gtb-red: #E73030;
    --gtb-red-soft: #FBE4E4;
    --gtb-green: #5BBD96;
    --gtb-green-soft: #E4FBE6;
    --gtb-blue-soft: #DBE7FF;
}

#wpcontent {
    padding: 0;
}
 /* Header */
 @media (max-width: 1400px) { 
    #gtb-root{
        .header{
            flex-direction: column-reverse;
            .banner-wrapper{
                margin: 0;
            }
        }
    }
}
#gtb-root {

    .header {
        background-color: var(--gtb-white);
        padding: 30px 40px;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .banner-wrapper{
            margin: 0 0 0 43px;
            padding: 0 0 0 10px;
            border-radius: 5px;
            background: linear-gradient(83deg, #15adf7 0%, #6affb4 101%);
            display: flex;
            min-width: 728px;
            height: 90px;
            overflow: hidden;
            position: relative;
            justify-content: space-between;

            .left-wrapper{
                display: flex;
            }
            .circle{
                position: absolute;
                max-width: inherit;
                right: 0;
                width: inherit;
            }

            .woman-image{
                background-size: contain;
                background-repeat: no-repeat;
                background-position-y: 15px;
                margin-right: 11px;
                .woman{
                    height: 85px;
                    margin-top: 5px;
                }
            }
            .main-content{
                font-family: 'Roboto';
                color: white;
                text-align: left;
                h3{
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                    letter-spacing: -0.01em;
                    margin-bottom: 0;
                    color: white;
                    position: relative;

                    span{
                        background: linear-gradient(90deg, #FFFFFF,#C9FE42);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        color: transparent;
                    }
                    .text-blink{
                        position: absolute;
                        top: -8px;
                        right: 25px;
                        width: 15px;
                    }
                }
                p{
                    margin-top: 0;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 18.2px;
                    color: #ffffffbf;
                }
                
            }
            .button-wrapper{
                display: flex;
                align-items: center;
                padding: 26px 20px 26px 120px;
                .join-button-wrap{
                    align-items: center;
                    box-shadow: 0 3px 24px -1px rgba(36, 137, 209, 0.3);
                    background-color: rgba(255, 255, 255, 0.36);
                    border-radius: 8px;
                    cursor: pointer;
                    height: 38px;
                    overflow: hidden;
                    padding: 2px;
                    position: relative;
                    transition: transform .5s ease;
                    width: 136px;
                    z-index: 2;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-content: center;

                    .join-button{
                        background-image: linear-gradient(to bottom, #fff 72%, #f5ffdb), linear-gradient(to bottom, #011627, #011627);
                        border-radius: 5px;
                        padding: 11px 22px;
                        z-index: 3;
                        font-family: 'Roboto';
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 14.06px;
                        text-align: left;
                        color: #011627;
                    }
                    &:hover{
                        transform: scale(90%);
                    }
                }
            }
        }
    }
    

    .title {
        font-family: 'Roboto', serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 50px;
        color: var(--gtb-dark);
        padding: 0;
        margin: 0;
    }

    .subtitle {
        font-family: 'Roboto', serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 17px;
        color: var(--gtb-dark);
        padding: 0;
        margin: 0;
    }

    .text {
        font-family: 'Roboto', serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--gtb-dark-grey);
        padding: 0;
        margin: 10px 0 0;
    }

    /* Navigation */
    .navigation-wrapper {
        background-color: #F9F9F9;

        .navigation-items {
            display: flex;
            flex-wrap: wrap;

            .navigation-item {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                padding: 20px;
                color: var(--gtb-dark);
                text-decoration: none;

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                &.active {
                    border-bottom: 3px solid var(--gtb-blue);
                }
            }
        }
    }

    /* Table */

    .table {
        width: 100%;
        margin-top: 40px;
        border-collapse: separate; 
        border-spacing: 0;
        table-layout: fixed;

        &.empty{
            background-color: white;
            border: 1px solid #E3E4E6;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 350px;
            border-radius: 5px;
            .buttons{
                display: flex;
                justify-content: center;
                .button{
                    padding: 10px 18px;
                    svg{
                        margin-right: 5px;
                    }
                }
            }
        }

        &.manage-page{
            tr{
                th,td{
                    &:last-child{
                        width: 350px;
                    }
                }
            }
        }

        tr{
            &.empty {
                padding: 20px;
            }
            th,td{
                padding: 16px 20px 16px 24px;
                background: var(--gtb-white);

                &:first-child{
                    border-left: 1px solid var(--gtb-grey-soft);
                }
                &:last-child{
                    border-right: 1px solid var(--gtb-grey-soft);
                    width: 300px;
                }
            }

            th{
                border-top: 1px solid var(--gtb-grey-soft);
            }

            &:first-child{
                th,td{
                    border-top: 1px solid var(--gtb-grey-soft);
                    border-bottom: 1px solid var(--gtb-grey-soft) !important;
                }
                th{
                    &:first-child{
                        border-top-left-radius: 5px;
                    }
                    &:last-child{
                        border-top-right-radius: 5px;
                    }
                }
            }

            &:not(:last-child){
                th,td{
                    border-bottom: 1px solid #F2F4F7;
                }
            }

            &:last-child {
                th,td{
                    border-bottom: 1px solid var(--gtb-grey-soft);
                }
                td{
                    &:first-child{
                        border-bottom-left-radius: 5px;
                    }
                    &:last-child{
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }

        .footer{
            .footer-content{
                .footer-wrap{
                    display: flex;
                    justify-content: space-between;
                    color: #99A2A9;

                    .navigation{
                        display: flex;
                        gap: 30px;

                        .active{
                            color: #40505D;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        th,
        td {
            border: none;
            text-align: left;
            min-width: fit-content;
        }

        td {
            padding: 16px 20px 16px 24px;
        }

        th {
            font-family: 'Roboto', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }

        td {
            font-family: 'Roboto', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }
    }

    .status {
        background-color: var(--gtb-grey-soft);
        color: var(--gtb-grey);
        padding: 4px 8px;
        border-radius: 50px;
        font-family: Roboto;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0.04em;
        display: flex;
        align-items: center;
        width: fit-content;

        &:before {
            content: '';
            width: 8px;
            height: 8px;
            margin-right: 4px;
            border-radius: 10px;
            background-color: var(--gtb-grey);
        }

        &.active {
            background-color: var(--gtb-green-soft);
            color: var(--gtb-green);

            &:before {
                background-color: var(--gtb-green);
            }
        }
    }

    .data-notice {
        box-sizing: border-box;
        width: 100%;
        padding: 30px 40px 0;
    }

    /* Data Wrapper */
    .theme-data-wrapper {
        background-color: var(--gtb-white);
        border-radius: 5px;

        .data-header {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 30px 40px;
            border-bottom: 1px solid var(--gtb-grey-soft);

            .buttons{
                .button{
                    padding: 8px 22px;
                }
            }
        }

        .data-body {
            padding: 10px 40px 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 0 50px;

            .input-wrapper {
                width: calc(50% - 25px);

                >span {
                    font-size: 12px;
                    color: gray;
                    font-style: italic;
                    padding: 6px 0;
                    display: block;
                }

                .input-inner{
                    display: block;
                    span{
                        display: block;
                    }
                }
                &:nth-last-child(-n+2),
                &:last-child {
                    flex-wrap: wrap;
                    width: 100%;
                    margin-bottom: 0px;
                }

            }
        }

        .data-footer {
            display: flex;
            justify-content: space-between;
            padding: 0px 30px 40px !important;
        }
    }

    .data-core {
        .data-core-heading {
            border-bottom: 1px solid var(--gtb-grey-soft);
            padding: 15px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            h3 {
                padding: 20px 0;
                margin: 0;
            }

            .data-core-button {
                display: flex;
                gap: 10px;
                width: auto;

                &.buttons {
                    display: flex;
                    gap: 10px;
                }
            }

        }

        .data-core-body {
            padding: 10px 40px 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 0 50px;
            margin-bottom: 30px;

            .input-wrapper {
                width: calc(50% - 25px);
                align-items: flex-start;
                display: flex;
                margin: 15px 0;
            }
        }
    }

    .actions {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex-wrap: wrap;

        .edit,
        .delete {
            padding: 8px 14px;
            border-radius: 5px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            gap: 6px;
            align-items: center;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }

        .edit {
            background-color: var(--gtb-blue-soft);
            color: var(--gtb-blue);
            fill: var(--gtb-blue);
            transition: all .5s;

            &:hover {
                background-color: var(--gtb-blue);
                color: var(--gtb-white);
                fill: var(--gtb-white);
            }
        }

        .edit-content {
            background-color: var(--gtb-green-soft);
            color: var(--gtb-green);
            fill: var(--gtb-green);
            transition: all .5s;

            &:hover {
                background-color: var(--gtb-green);
                color: var(--gtb-white);
                fill: var(--gtb-white);
            }
        }

        .delete {
            background-color: var(--gtb-white);
            color: var(--gtb-red);
            fill: var(--gtb-red);
            transition: all .5s;

            &:hover {
                background-color: var(--gtb-red-soft);
                color: var(--gtb-red);
                fill: var(--gtb-red);
            }
        }
    }

    /* Content Wrapper */

    .content-wrapper {
        .content-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .description {
                max-width: 700px;
                margin-top: 20px;
            }

            .button {
                display: flex;
                align-items: center;
                padding: 5px 18px;
                gap: 8px;
                background-color: var(--gtb-blue);
                color: var(--gtb-white);
                fill: var(--gtb-white);
                border-radius: 5px;
                border: none;
                transition: all .5s;
                &:hover{
                    background-color: var(--gtb-dark-blue);
                }
            }

            .button-wrapper {
                display: flex;
                gap: 10px;
            }
        }
        .content-notice{
            padding: 12px 12px 12px 16px;
            border-radius: 5px;
            border: solid 1px #FEC84B;
            background-color: #FFFCF5;
            font-family: "Roboto", serif;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 22.4px;
            letter-spacing: normal;
            text-align: left;
            color: #40505d;
            gap: 10px;
            margin: 25px 0;
            color : #826B1D;
            display: flex;
            svg{
                margin-top: 1em;
                fill: #FEC84B;
            }
            a{
                font-weight: 600;
                color : #826B1D;
            }
            ul{
                padding: 0px 10px !important;
                margin: 0px;
            }
        }
    }

    .builder-wrapper {
        padding: 40px;

        .builder-content {
            width: 100%;
            min-height: 500px;
            border: 1px solid #E3E4E6;
            border-radius: 5px;
        }
    }

    .manage-plugins{
        &.table{
            margin-top: 24px;
        }
    }
    .plugin-search-wrapper{
        .plugin-header{
            display: flex;
            justify-content: flex-start;
            border: solid 1px #e3e4e6;
            background: var(--gtb-white);
            border-bottom: none;
            padding: 20px;
            border-radius: 5px 5px 0px 0px;
            align-items: center;
            gap: 10px;
            h3{
                margin-top: 0;
            }
        }
        .plugin-body{
            border: solid 1px #e3e4e6;
            background: var(--gtb-white);
            padding: 20px;
            border-radius: 0px 0px 5px 5px;
            .input-inner{
                display: block;
            }
        }
        .input-wrapper{
            flex-direction: column;
        }
        h3{
            margin-top: 32px;
            margin-bottom: 0px;
        }
    }
    

    .media-input-wrapper{
        padding: 40px;
        background-color: var(--gtb-white);
        border-radius: 5px;
        border: 1px solid #e3e4e6;
        h3{
            margin-top: 0px;
            margin-bottom: 12px;
        }
    }

    /* Controls */
    .input-wrapper {
        display: flex;
        align-items: flex-start;
        margin: 15px 0;

        label {
            width: 40%;
            margin-right: 16px;
            color: var(--gtb-dark);
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            height: 36px;
            display: flex;
            align-items: center;

            span {
                color: var(--gtb-red);
                font-size: 14px;
            }
        }

        &>input {
            height: 36px;
            &:focus{
                border-color: #3B57F7 !important;
                box-shadow: none;
            }
        }
        &>input[type=text]:focus{
            border-color: #3B57F7 !important;
            box-shadow: none !important;
        }


        &>textarea {
            width: 100%;
            border: 1px solid var(--gtb-grey-soft);
            border-radius: 5px;
            padding: 12px;
            &:focus{
                border-color: #3B57F7;
            }
        }

        div {
            &.input-inner {
                width: 100%;
                display: flex;
                gap: 20px;
                input {
                    border: 1px solid var(--gtb-grey-soft);
                    border-radius: 5px;
                    line-height: 2.7em;
                    width: 100%;
                    box-sizing: border-box;

                    &::placeholder{
                        font-family: 'Roboto';
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14.06px;
                        text-align: left;
                        color: #99A2A9;
                    }

                    &:focus{
                        border-color: #3B57F7 !important;
                        box-shadow: none;
                    }
                }

                .input-file-button{
                    border-radius: 5px;
                }

                textarea{
                    width: 100%;
                    border: 1px solid var(--gtb-grey-soft);
                    border-radius: 5px;
                    height: 100px;
                    padding: 8px;
                    &:focus{
                        border-color: #3B57F7;
                        box-shadow: none;
                    }
                }

                >span {
                    font-size: 12px;
                    color: #99A2A9;
                    font-style: normal;
                    padding: 6px 0;
                    display: block;
                }

                .input-container {
                    position: relative;

                    .color-background {
                        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==");
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        height: 20px;
                        width: 20px;
                        border-radius: 100%;
                        border: 1px solid #ddd;
                        cursor: pointer;
                    }

                    .chrome-picker {
                        position: absolute;
                        z-index: 999;
                    }

                    input {
                        padding-left: 45px;
                        &:focus{
                            border-color: #3B57F7;
                        }
                    }
                }
            }
        }

        &>div {
            &.select-inner {
                width: 100%;

                >div {
                    border: 1px solid var(--gtb-grey-soft);
                    border-radius: 5px;
                }
                
                .tag-select__value-container{
                    padding: 12px;
                }
                .tag-select__input-container{
                    max-height: 25px;
                }
                .tag-select__multi-value,.tb-selector__multi-value{
                    color: var(--gtb-blue);
                    background-color: var(--gtb-blue-soft);
                    font-size: 14px;
                    .tag-select__multi-value__label, .tb-selector__multi-value__label{
                        color: var(--gtb-blue);
                    }
                }
                .tag-select__multi-value,
                .tb-selector__multi-value,
                .tb-selector__single-value{
                    font-size: 14px;
                }

                span {
                    font-size: 12px;
                    color: #99A2A9;
                    font-style: normal;
                    padding: 6px 0;
                    display: block;
                }
            }
        }

        &.control-checkbox {
            border-bottom: 1px solid var(--gtb-grey-soft);
            padding: 10px 0;

            label {
                width: 100%;
                max-width: 140px;
            }

            input[type="checkbox"] {
                display: none;
            }

            .select-inner {
                position: relative;
            }

            .switch {
                display: inline-block;
                vertical-align: middle;
                width: 51px;
                height: 24px;
                border-radius: 24px;
                background: var(--gtb-grey-soft);
                position: absolute;
                right: -5px;
                top: -1px;
                transform: translateX(-50%);
                padding: 2px;
                cursor: pointer;
                user-select: none;
                transition: 0.25s;
                box-shadow: inset 0 2px 3px rgba(var(--gtb-dark), 0.1);
            }

            input:checked+.switch {
                background: var(--gtb-blue);
            }

            .switch::before {
                content: "OFF";
                font-size: 9px;
                position: absolute;
                right: 7px;
                top: 50%;
                transform: translate3d(0, -50%, 0);
                opacity: 0.6;
                line-height: 1;
                padding-top: 1px;
            }

            input:checked+.switch::before {
                left: 11px;
                right: auto;
                color: var(--gtb-white);
                content: "ON";
            }

            .switch::after {
                content: "";
                background: var(--gtb-white);
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 2px;
                box-shadow: 0 1px 3px rgba(var(--gtb-dark), 0.4);
                transform: translate3d(0, -50%, 0);
                transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98);
            }

            input:checked+.switch::after {
                transform: translate3d(27px, -50%, 0);
            }
        }
    }

    /* Templates */
    .template-page-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));;
        gap: 10px;
        margin-top: 30px;

        .loader {
            border: 16px solid var(--gtb-grey-soft);
            border-top: 16px solid var(--gtb-blue);
            border-radius: 50%;
            width: 60px;
            height: 60px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .template-page-category {
            background-color: var(--gtb-white);
            border-radius: 5px;
            border: 1px solid #e3e4e6;
            max-width: 420px;

            .heading {
                padding: 20px 30px;
                border-bottom: 1px solid var(--gtb-grey-soft);
            }

            .body {
                padding: 30px;
                .input-wrapper{
                    margin-bottom: 0px;
                }
            }

            .buttons {
                display: flex;
                justify-content: flex-end;
                padding: 32px 0 40px;
                
                border-bottom: 1px solid var(--gtb-grey-soft);
            }
        }

        .template-add {
            cursor: pointer;
            background-color: var(--gtb-blue);
            border-radius: 5px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: var(--gtb-white);
            padding: 12px 24px;
            width: fit-content;
            transition: all .5s;
            &:hover{
                background-color: var(--gtb-dark-blue);
            }
        }

        .input-wrapper {
            label {
                width: 60px;
            }

            &>input,
            &>textarea,
            &>div {
                width: calc(100% - 66px);
                &:focus{
                    border-color: #3B57F7 !important;
                    box-shadow: none;
                }
            }
        }

        .template-list {

            table {
                text-align: left;

                th,
                td {
                    padding: 15px 0;
                    
                }

               
                .template-delete {
                    cursor: pointer;
                    text-align: center;
                    fill: var(--gtb-red);
                }

                .template-type {
                    background: #F9F9F9;
                    border: 1px solid var(--gtb-grey-soft);
                    border-radius: 2px;
                    padding: 6px 10px;
                }
            }
        }
    }
    .manage-page{
        .media-wrap{
            margin: 12px 0px
        }
    }

    /* Popup */
    .popup-container {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
        z-index: 99999;
        overflow-y: scroll;

        &.manage-plugins{
            .input-inner{
                display: block;
            }
        }
    }

    .popup-content {
        position: absolute;
        left: 50%;
        top: 15%;
        width: 400px;
        transform: translate(-50%);
        margin: auto;
        border-radius: 5px;
        border-color: black;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .popup-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            border-bottom: 1px solid var(--gtb-grey-soft);

            .title {
                display: flex;
                gap: 6px;
                align-items: center;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: var(--gtb-dark-grey);

                svg {
                    fill: var(--gtb-red);
                }

                &.pattern {
                    width: 100%;
                    display: flex;
                    font-size: 20px;
                    line-height: 23px;
                }
            }

            .close-button svg {
                cursor: pointer;
                fill: var(--gtb-grey);
            }
        }

        .popup-footer {
            padding: 15px 20px;
            border-top: 1px solid var(--gtb-grey-soft);
            .button{
                padding: 10px 22px;
            }
        }

        .popup-body {
            padding: 20px;

            .input-wrapper{
                flex-direction: column;
            }
            
            .input-wrap {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                
                &.pattern-sync{
                    label{
                        margin-bottom: 12px;
                    }
                    .description{
                        margin-top: 0px;
                    }
                }
                .select-inner{
                    margin: 12px 0px;
                }
                &.media-wrap{
                    flex-direction: column;
                    align-items: normal;
                    label{
                        margin: 12px 0px;
                    }
                    img{
                        max-width: 200px;
                        max-height: 300px;
                    }
                    .image-wrapper{
                        margin-top: 12px;
                    }
                    .button{
                        padding: 5px 10px;
                        border-radius: 5px;
                    }
                }
                .async-select-container{
                    width: 100%;
                }
                &>input,
                &>select {
                    width: 100%;
                    height: 36px;
                    background: var(--gtb-white);
                    border: 1px solid var(--gtb-grey-soft);
                    border-radius: 5px;
                    &:focus{
                        border-color: #3B57F7 !important;
                        box-shadow: none;
                    }
                }

                &>input[type=checkbox]{
                    width: 17px !important;
                    height: 17px !important;
                    &::before{
                        width: 1.3rem !important;
                        height: 1.3rem !important;
                        margin: -.13rem -.2125rem !important;
                    }

                    &:checked{
                        border: 1px solid #3B57F7;
                    }
                }

                label {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    margin: 12px 0;
                }

                .description {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    display: flex;
                    align-items: center;
                    color: var(--gtb-grey);
                    margin: 10px 0;
                }
            }
        }
    }

    .gtb-notice {
        background-color: var(--gtb-red-soft);
        color: var(--gtb-red);
        padding: 4px 8px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    /** manage assets **/
    .manage-asset-switcher {
        display: flex;
        gap: 5px;

        .button {
            display: flex;
            align-items: center;
            padding: 5px 18px;
            gap: 8px;
            background-color: var(--gtb-blue);
            color: var(--gtb-white);
            fill: var(--gtb-white);
            border-radius: 50px;
            border: none;
        }
    }

    .asset-list-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .asset-data-wrapper {
        background-color: var(--gtb-white);
        border-radius: 5px;
        border: 1px solid #E3E4E6;

        .data-header {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 30px 40px;
            border-bottom: 1px solid var(--gtb-grey-soft);

            .button{
                padding: 8px 22px;
            }
        }

        .data-body {
            padding: 10px 40px 32px;
            display: flex;
            flex-wrap: wrap;
            gap: 0 50px;

            .w-tc-editor {
                width: 100%;
                background: #22232a !important;
                border-radius: 5px;
            }

            .input-wrapper {
                width: 100%;

                .input-inner{
                    display: block;
                }
                &:last-child {
                    width: 100%;
                }

                &.code-editor {
                    display: block;
                    .description{
                        font-size: 12px;
                        color: #99A2A9;
                        font-style: normal;
                        padding: 6px 0;
                        display: block;
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        .data-footer {
            display: flex;
            justify-content: space-between;
            padding: 0px 40px 40px !important;
        }
    }

    /** manage fonts **/
    .manage-font-switcher {
        display: flex;
        gap: 5px;
    }

    .font-list-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .font-data-wrapper {
        background-color: var(--gtb-white);
        border-radius: 5px;
        border: 1px solid #E3E4E6;

        .data-header {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 30px 40px;
            border-bottom: 1px solid var(--gtb-grey-soft);

            .button{
                padding: 8px 22px !important;
            }
        }

        .data-body {
            padding: 10px 40px 32px;
            display: flex;
            flex-wrap: wrap;
            gap: 0 50px;

            .w-tc-editor {
                width: 100%;
                background: #22232a !important;
                border-radius: 5px;
            }

            .input-wrapper {
                width: 100%;

                &:last-child {
                    width: 100%;
                }

                &.code-editor {
                    display: block;
                }
            }
        }

        .data-footer {
            display: flex;
            justify-content: space-between;
            padding: 0px 40px 40px;
        }

        .buttons {
            display: flex;
            gap: 20px;

            .button {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 12px 20px;
                background: #FFFFFF;
                border-radius: 5px;
                background-color: var(--gtb-white);
                color: var(--gtb-blue);
                border: 1px solid var(--gtb-blue);
            }
        }
    }

    .saving-indicator {
        margin: 0 auto;
        font-size: 25px;
        font-weight: bold;
        padding: 50px 0;
        letter-spacing: 2px;
    }

    .buttons {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 8px;

        &.inline {
            width: auto;
        }

        &.margin-top{
            &-32{
                margin-top: 32px;
            }
        }

        &.end {
            justify-content: flex-end;
        }

        &.spaced {
            justify-content: space-between;
        }

        .button {
            cursor: pointer;
            background-color: var(--gtb-blue);
            color: var(--gtb-white);
            border: 1px solid var(--gtb-blue);
            border: none;
            border-radius: 5px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            padding: 12px 24px;
            display: flex;
            align-items: center;
            transition: all .5s ;

            &.cancel {
                background-color: var(--gtb-white);
                color: var(--gtb-grey);
                border: 1px solid var(--gtb-grey-soft);
            }

            &.proceed {
                background-color: var(--gtb-red);
                border-color: var(--gtb-red);
                color: var(--gtb-white);
            }

            &.data {
                background-color: var(--gtb-white);
                color: var(--gtb-blue);
                border: 1px solid var(--gtb-blue);
                &:hover{
                    background-color: var(--gtb-blue);
                    border: 1px solid var(--gtb-blue);
                    color: var(--gtb-white);
                }
            }

            &.create{
                background-color: var(--gtb-blue);
                color: var(--gtb-white);
                border: 1px solid var(--gtb-blue);
                &:hover{
                    background-color: var(--gtb-dark-blue);
                    border: 1px solid var(--gtb-dark-blue);
                }
            }
            
            &.padding{
                &-12-28{
                    padding: 12px 28px;
                }
                
            }
        }

        .back-button {
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }

    .plugin-req {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 2px 0;
        border-bottom: 1px solid var(--gtb-grey-soft);

        .name {
            width: 300px;
        }

        .type {
            width: 100px;
        }

        input {
            height: 20px;
        }

        .icon {
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }

    .w-tc-editor code {
        padding: 0px;
    }

    .image-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 20px
    }
    .image-preview {
        max-width: 300px;
        height: 100%;
    }
    .margin {
        &-top{
            &-0{
                margin-top: 0px;
            }
        }
    }
    .export-paragraph{
        margin: 0 auto 10px;
        width: 75%;
    }
    .manage-font-sizes{
        tr{
            th,td{
                &:nth-child(4){
                    width: 200px;
                }
            }
        }
    }
 
    .manage-dashboard {
        .select-dashboard{
            .description{
                margin-top: 12px;
            }
        }
        .lite-wrapper{
            display: flex;
            gap: 20px;
            .names-desc-wrapper, 
            .comparison-wrapper{
                background: white;
                border: 1px solid #E3E4E6;
                border-radius: 5px;
                width: 50%;
                .header{
                    border-bottom: 1px solid #E3E4E6;
                    padding: 0px 30px;
                    border-radius: 5px 5px 0px 0px;
                    h3{
                        margin: 20px 0px
                    }
                }
                .content{
                    padding: 30px;
                    .input-wrapper{
                        label{
                            text-wrap: nowrap;
                        }
                        &:first-child{
                            margin-top: 0;
                        }
                    }
                    .input-inner{
                        display: block;
                    }
                }
            }
            .input-wrapper{
                display: grid;
                grid-template-columns: 40% 60%;
            }
        }
        .input-wrapper{
            display: block;
            span{
                font-family: 'Roboto';
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16.8px;
                text-align: left;
                color: #99A2A9;
                display: block;
            }
        }
        
        .custom-templates {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 10px;
            .image-wrapper {
                width: 100%;
                overflow: scroll;
            }
            .template-import {
                >div {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    label {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .template-import {
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 8px;
        }

        .image-wrapper {
            width: 300px;
            max-height: 600px;
            overflow: hidden;
            margin-bottom: 20px;
            margin-top: 20px;

            img {
                width: 100%;
            }
        }

        .button-loading{
            min-width: 134px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    font-family: serif;

    p {
        font-size: 1rem;
    }

    em {
        font-size: .8rem;
    }

    .dropzone {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        border-width: 2px;
        border-radius: 2px;
        border-color: #eeeeee;
        border-style: dashed;
        background-color: #fafafa;
        color: #bdbdbd;
        outline: none;
        transition: border .24s ease-in-out;
        margin: 20px 0;

        &:focus {
            border-color: #2196f3;
        }

        &.disabled {
            opacity: 0.6;
        }

        strong {
            color: #000;
            font-size: 20px;
        }

        .clear {
            cursor: pointer;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #888;
            margin: 50px 0 0;
        }
    }
}

.notice-input {
    border-radius: 5px;
    border: 1px solid #e3e4e6;
    margin: 20px 0px;
    .editor-styles-wrapper {
        flex: 1 1;
        padding: 20px;
        background-color: white;
        border-radius: 0px 0px 5px 5px;
        p {
            font-size: inherit;
            line-height: inherit;
        }

        ul,
        ol {
            margin: 0;
            padding: 0;
        }

        ul li,
        ol li {
            margin-bottom: initial;
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        ul ul,
        ol ul {
            list-style-type: circle;
        }
    }

    .block-editor-url-popover,
    .components-popover__content {
        width: fit-content;

        .block-editor-media-placeholder__url-input-form {
            display: flex;
            margin: 0;
            padding: 5px;
        }

        .components-dropdown-menu__menu {
            width: 300px;
        }
    }

    .editor__logo {
        font-size: 20px;
        font-weight: 300;
    }

    .editor__body {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 180px;
        border-radius: 5px;

        img {
            max-width: 100%;
            height: auto;
        }

        iframe {
            width: 100%;
        }

        .components-navigate-regions {
            height: 100%;
        }
    }

    .editor__toolbar {
        display: flex;
        position: relative;
        border-bottom: 1px solid #e3e4e6;
        height: 46px;
        align-items: center;
        align-content: center;
        background-color: white;
        border-radius: 5px 5px 0px 0px;

        .navigation_block {
            border-right: 1px solid #e3e4e6;
            padding: 4px;
        }

        .components-accessible-toolbar {
            border: none !important;
        }
    }

    .editor__sidebar {
        position: absolute;
        background: white;
        top: 0;
        right: 0;
        bottom: 0;
        height: auto;
        overflow: auto;
        width: 296px;
        max-width: 100%;
        -webkit-overflow-scrolling: touch;
        border-left: 1px solid #e3e4e6;

        // @include break-small() {
        //     position: relative;
        // }
    }

    @keyframes edit-post__fade-in-animation {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    [data-reach-dialog-overlay] {
        z-index: 50;
    }

    .editor__code {
        padding: 17px;
    }

    .block-editor-default-block-appender {
        position: relative;
    }

    .block-editor-inserter {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        .components-button {
            height: unset;
            svg{
                fill: white;
            }
        }

        .block-editor-button-block-appender svg {
            color: white;
            background-color: black;
        }
    }

    .components-panel__body.block-editor-block-inspector__advanced {
        display: none;
    }
}