.guten-advance-tabs {
  .advance-tab-heading-wrapper {
    display: flex;
  }

  .advance-tab-heading {
    display: flex;
    flex-direction: row;
    width: 100%;

    .advance-tab-heading-item {
      padding: 20px 25px;
      align-items: center;
      position: relative;
      display: flex;
      cursor: pointer;

      .advance-tab-heading-content {
        display: flex;
        align-items: center;
        z-index: 2;
      }

      &:after,
      &:before {
        top: 100%;
        height: 0;
        width: 999em;
        display: block;
        content: '';
        position: absolute;
      }

      &:after {
        left: 100%;
      }

      &:before {
        right: 100%;
      }

    }
  }

  .advance-tab-heading-mobile {
    border: 2px solid #ddd;
    text-align: center;
    display: none;
    position: relative;

    .advance-tab-title {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin-right: 20px;
      }

      .advance-tab-dropdown-icon {
        &:after {
          content: "\f078";
        }
      }
    }

    .advance-tab-option {
      display: none;
      position: absolute;
      width: 80%;
      background: white;
      z-index: 999;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);

      .advance-tab-option-item {
        cursor: pointer;
        line-height: 2em;
        padding: 10px 0;
      }
    }

    &.open {
      .advance-tab-option {
        display: block;
      }

      .advance-tab-title {
        .advance-tab-dropdown-icon {
          &:after {
            content: "\f077";
          }
        }
      }
    }
  }

  .advance-tab-body {
    overflow: hidden;
    padding: 20px;

    .advance-tab-body-item {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &.horizontal {
    &-center {
      .advance-tab-heading {
        justify-content: center;
      }
    }

    &-right {
      .advance-tab-heading {
        justify-content: flex-end;
      }
    }

  }

  &.vertical {
    display: flex;

    .advance-tab-heading {
      flex-direction: column;

      .advance-tab-heading-item {

        &:after,
        &:before {
          right: -2px;
          bottom: auto;
          height: 999em;
          width: 0;
        }

        &:after {
          top: 100%;
        }

        &:before {
          bottom: 100%;
          left: 100%;
          top: auto;
        }

        &.active {
          // border-bottom-color: #ddd;
        }
      }
    }

    .advance-tab-body {
      flex-grow: 1;
      // border-top-style: solid;
      // border-left-style: none;
      width: 75%;
    }
  }
}

@media (max-width: 781px) {
  .guten-advance-tabs {
    overflow: visible;
    display: block;
    flex-direction: column;

    .advance-tab-heading {
      display: none;
    }

    .advance-tab-heading-mobile {
      display: block;
      padding: 0;
      margin: 0;
    }

    &.vertical {
      .advance-tab-body {
        width: 100%;
      }
    }
  }


}

.advance-tab-heading-mobile {
  margin: 0 auto;

  .advance-tab-heading-content {
    display: flex;
    align-items: center;
    min-width: 150px;
  }

  .advance-tab-heading-item-mobile {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .advance-tab-option {
    padding: 10px;
    border: 2px solid #ddd;
    border-top-color: transparent!important;
  }
}

.guten-advance-tabs * {
  transition: background-color .3s, border .3s, border-radius .3s, box-shadow .3s, color .1s, opacity .5s;
}


.guten-advance-tabs {
  .advance-tab-heading-content .item-image {
    img {
      max-width: max-content;
    }
  }
  .advance-tab-heading-content span{
    z-index: 10;
  }
  .advance-tab-heading .advance-tab-heading-item:before{
    opacity: 0;
    content:'';
    transition: opacity 0.7s; 
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
  }
  .advance-tab-heading .advance-tab-heading-item:hover:before{
      opacity: 1;
  }
}