@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.install-gutenverse-plugin-notice {
  border: 1px solid #E6E6EF;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  margin-bottom: 30px !important;
  background-size: cover;
  background-position: center;
}

.install-gutenverse-plugin-notice .gutenverse-notice-content {
  display: flex;
  align-items: center;
  position: relative;
}

.gutenverse-notice-text, .gutenverse-notice-image {
  width: 50%;
}

.gutenverse-notice-text {
  padding: 40px 0 40px 40px;
  position: relative;
  z-index: 2;
}

.install-gutenverse-plugin-notice img {
  max-height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.install-gutenverse-plugin-notice:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  display: block;
  background: linear-gradient(to bottom, #68E4F4, #4569FF, #F045FF);
}

.install-gutenverse-plugin-notice .notice-dismiss {
  top: 20px;
  right: 20px;
  padding: 0;
  background: white;
  border-radius: 6px;
}

.install-gutenverse-plugin-notice .notice-dismiss:before {
  content: "\f335";
  font-size: 17px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #E6E6EF;
  border-radius: 3px;
}

.install-gutenverse-plugin-notice h3 {
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.4em;
}

.install-gutenverse-plugin-notice h3 span {
  font-weight: 700;
  background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(80deg, rgba(208, 77, 255, 1) 0%,rgba(69, 105, 255, 1) 48.8%,rgba(104, 228, 244, 1) 100%);
}

.install-gutenverse-plugin-notice p {
  font-size: 13px;
  font-weight: 400;
  margin: 5px 100px 20px 0 !important;
}

.install-gutenverse-plugin-notice .gutenverse-bottom {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.install-gutenverse-plugin-notice a {
  text-decoration: none;
  margin-right: 20px;
}

.install-gutenverse-plugin-notice a.gutenverse-button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", serif;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  border-radius: 5px;
  background: #3B57F7;
  color: #fff;
  padding: 10px 15px;
  font-weight: 500;
  background: linear-gradient(to left, #68E4F4, #4569FF, #F045FF);
  transition: transform 0.5s ease, color 0.5s ease;
}

.install-gutenverse-plugin-notice a.gutenverse-button:hover {
  color: hsla(0, 0%, 100%, .749);
  transform: scale(.94);
}

#gutenverse-install-plugin.loader:after {
  display: block;
  content: '';
  border: 5px solid white;
  border-radius: 50%;
  border-top: 5px solid rgba(255, 255, 255, 0);
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .gutenverse-notice-text {
    width: 100%;
  }

  .gutenverse-notice-image {
    display: none;
  }
}