.guten-mega-menu {
  &.vertical.flex-end {
    .mega-menu-heading .mega-menu-heading-item .heading-navigation {
      left: 10px;
    }
  }

  .mega-menu-heading {
    .mega-menu-heading-item {
      display: flex;
      cursor: pointer;

      > * {
        cursor: text;
      }

      .heading-navigation {
        display: flex;
        position: absolute;
        right: 10px;
        opacity: 0;
        transition: opacity 0.5s;

        .mega-menu-shift-vertical {
          background: #000;
          cursor: pointer;

          svg {
            display: flex;
            border-radius: 3px;
            color: #fff;
          }

          &.mega-menu-shift-up {
            margin-right: 5px;
          }
        }
      }

      &:hover {
        .heading-navigation {
          opacity: 1;
        }
      }

      .mega-menu-shift {
        cursor: pointer;
        overflow: hidden;
        width: 0;
        transition: width 0.1s;
      }

      &:hover {
        .mega-menu-shift {
          margin: 0 25px;
          width: 24px;

          &-left {
            margin-left: 0;
          }

          &-right {
            margin-right: 0;
          }
        }
      }
    }
  }
}
