@mixin mega-menu-wrapper() {

    &.horizontal,
    &.vertical {
        .mega-menu-item-panel {
            justify-content: flex-start;
        }
    }

    &.vertical {
        .mega-menu-item {
            position: relative;
        }

        .mega-menu-body {
            min-height: 0;            
        }

        .mega-menu-mega-menu {
            .mega-menu-body {
                min-width: 0;
            }
        }
    }

    .mega-menu-item-panel {
        .mega-menu-mega-menu,
        .mega-menu-list {
            .mega-menu-body {
                top: auto;
            }
        }
    }

    .mega-menu-identity-panel,
    .mega-menu-hamburger {
        display: block;
    }

    .mega-menu-wrapper {
        position: fixed;
        top: 0;
        left: -110%;
        height: 100vh;
        width: 100%;
        max-width: 360px;
        overflow: auto;
        @include transition(false, false, (left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53)));
        z-index: 999999;
        background: #fff;

        &.active {
            left: 0%;
        }
    }

    .guten-mega-menu-item {
        .mega-menu-heading {
            width: 100%;
            justify-content: space-between;
    
            a,
            span {
                color: (--guten-txt-color);
            }
        }
    }

    .mega-menu-item,
    .mega-menu-item-body {
        width: 100%;
    }

    .mega-menu-item {
        &.mega-menu-mega-menu {
            position: relative;
        }
    }

    .mega-menu-item-panel {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    .mega-menu-identity-panel {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        &.has-logo {
            justify-content: space-between;
        }
    }

    .mega-menu-list {
        .gutenverse-menu {
            li>a {
                justify-content: space-between;
            }

            .sub-menu {
                position: relative;
                top: 100%;
                left: -20px;
                right: unset;
                width: calc(100% + 40px);
                z-index: 1;
            }
        }
    }

    .guten-mega-menu-item {
        .mega-menu-body {
            position: relative;
            top: auto;
            width: 100%;
            min-width: 100%;

            >.mega-menu-item-body {
                width: 100%;
                min-width: 100%;
            }
        }
    }
}