@import 'mega-menu-wrapper.scss';

.guten-mega-menu {
    &.horizontal {
        .mega-menu-item-panel {
            position: unset;
        }

        .mega-menu-item {
            &.mega-menu-mega-menu {

                &.active,
                &.hover {
                    .mega-menu-body {
                        display: flex;
                    }
                }
            }
        }        
    }

    &.vertical {
        display: flex;

        .mega-menu-item-panel {
            position: relative;
            flex-direction: column;
        }

        .mega-menu-item-body {
            height: 100%;
        }

        .mega-menu-item {
            min-width: 100%;
        }

        .mega-menu-body {
            top: 0;
            left: 100%;
        }

        .mega-menu-mega-menu {
            .mega-menu-body {
                min-width: 500px;
            }
        }

        .mega-menu-list {
            .mega-menu-body {
                width: auto;
            }
        }
    }

    .mega-menu-item-panel {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .mega-menu-hamburger-wrapper {
        display: flex;
    }

    .mega-menu-hamburger {
        display: none;
        color: var(--guten-base-color);
        border: solid 1px var(--guten-border-color);
        background-color: var(--guten-border-color);
        padding: 25px 40px 25px 40px;
        cursor: pointer;
        z-index: 100;
    }

    .mega-menu-close {
        color: var(--guten-base-color);
        border: solid 1px var(--guten-border-color);
        background: var(--guten-border-color);
        padding: 8px 8px 8px 8px;
        width: 45px;
        border-radius: 3px;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }

    .mega-menu-identity-panel {
        padding: 15px;
        display: none;
    }

    .mega-menu-site-image {
        line-height: 0;
    }

    .mega-menu-nav-logo {
        display: block;
    }

    .mega-menu-heading {
        padding: 15px 15px 15px 15px;
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
            margin-left: 5px;
        }
    }

    .mega-menu-body {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 99;
    }

    .mega-menu-item-body {
        position: relative;
        min-width: fit-content;
        background: #fff;
    }

    .mega-menu-list {
        .gutenverse-menu {
            position: relative;
            margin: 0;
            padding: 20px;
            list-style: none;

            li {
                position: relative;

                &.active {
                    >.sub-menu {
                        display: block;
                    }
                }

                >a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    >i {
                        margin-left: 5px;
                    }
                }
            }

            .sub-menu {
                position: absolute;
                display: none;
                top: -20px;
                left: calc(100% + 20px);
                margin: 0;
                padding: 20px;
                background: #fff;

                >li {
                    list-style: none;
                }
            }
        }
    }

    .mega-menu-item {

        &.active,
        &.hover {
            .mega-menu-body {
                display: flex;
            }
        }

        &.mega-menu-mega-menu {
            .mega-menu-item-body {
                padding: 20px;
                width: 100%;
            }
        }

        .mega-menu-body {
            display: none;
        }
    }

    &.break-point-tablet {
        @media screen and (max-width: 780px) {
            @include mega-menu-wrapper();
        }

        @media screen and (min-width: 781px) {
            &.vertical .mega-menu-body {
                width: unset;
            }
        }
    }

    &.break-point-mobile {
        @media screen and (max-width: 425px) {
            @include mega-menu-wrapper();
        }

        @media screen and (min-width: 426px) {
            &.vertical .mega-menu-body {
                width: unset;
            }
        }
    }
}